.day-selector-container {

    background-color: #f0efed;

    margin:15px 10px;
  }
  
  .day-selector-header {
    background-color: #364e8b;
    color: white;               /* 文字色を白に */
      padding: 15px 20px;         /* 上下左右に余白を追加 */
      font-size: 20px;            /* フォントサイズを大きく */
      text-align: center;         /* 中央寄せ */
      border-radius: 5px;         /* 角を丸くする */
      margin-bottom:10px;
    }
  .day-options {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .day-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .day-option:hover {
    background-color: #e0e0e0;

}

  
  /* .day-option input {
    margin-right: 8px;
  }
  
  .day-option:hover {
    color: #007bff;
  }
  
  .day-option input:checked + span {
    font-weight: bold;
    color: #007bff;
  } */
  