/* 学部と学科の選択ボックス */
.department-selector-container {
    background-color: white;
    margin:40px 10px;
    padding-bottom:10px;
    border-radius: 5px;         /* 角を丸くする */

  }

.department-selector {
    margin-bottom: 20px;
    margin:10px;
  }
  
  .selector-header {
    background-color: #364e8b;
    color: white;               /* 文字色を白に */
    padding: 15px 20px;         /* 上下左右に余白を追加 */
    font-size: 20px;            /* フォントサイズを大きく */
    text-align: center;         /* 中央寄せ */
    border-radius: 5px;         /* 角を丸くする */
  }
  .department-selector label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .department-selector select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* 学科選択ボックスが無効な場合に淡い背景色を適用 */
  .department-selector select:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  /* 学部が選択される前でも表示される */
  .department-selector select:enabled {
    background-color: #ffffff;
  }
  