.unit-options-wrapper {

  background-color: #f0efed;

  margin:40px 10px;
  }
  
  .unit-header {
    background-color: #364e8b;
    color: white;               /* 文字色を白に */
      padding: 15px 20px;         /* 上下左右に余白を追加 */
      font-size: 20px;            /* フォントサイズを大きく */
      text-align: center;         /* 中央寄せ */
      border-radius: 5px;         /* 角を丸くする */
  
  }
  
  .unit-options {

    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  
  .unit-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  
  .selected {
    background-color: #364e8b;
    color: white;
  }
  
  .year-option:hover {
    background-color: #e0e0e0;
  }
  